
<% include ../partials/head %>


<section class="hero is-dark">

  <div class="hero-body">

      <% include ../partials/nav %>

  </div>

</section>

<section class="section" style="background:rgb(245,245,245)">

  <div class="container">

    <h1 class="title">Enviar Fondos</h1>
      
    <div class="columns">

      <div class="column">

        <form class="control" action="/send" method="POST">

          <div class="field">
                        
            <div class="control">
                          
              <label for="">Desde</label>
                          
              <!-- <input class="input" name="from" activate="false" type="text" value='<%= direccion %>'  disabled="disabled"> -->
              <article class="message is-grey"> 
                  <div class="message-body">
                      <p>
                        <strong><%= direccion %></strong>
                      </p>
                </div>
              </article>        
            </div>
                      
          </div>

      
                      
          <div class="field">
              <label class="label" for="to">Para</label>
              <p class="control has-icons-left">
                  <input class="input" activate="false" pattern="0x([A-Za-z0-9]){40}" minlength="42" maxlength="42" title="Direccion incorrecta por favor introduzca una direccion valida" type="text" name="to" required>
                <span class="icon is-small is-left">
                  <i class="fab fa-ethereum"></i>
                </span>
               
              </p>
            </div>

                        
          <div class="field">
              <label  class="label" for="amount">Monto</label>
              <p class="control has-icons-left">
                  <input class="input" type="number" min=0 step="any" placeholder="Monto" name="amount" required> 
                <span class="icon is-small is-left">
                    
                    <i class="fas fa-money-bill-alt"></i>
                </span>  
              </p>
          </div>

                                      
            <button id="ButtonModal" class="button is-success">Enviar</button> 
                        <!-- Modal -->
<!--                 
                      <div id="modal" class="modal">
                          <div class="modal-background"></div>
                          <div class="modal-card">
                            <header class="modal-card-head">
                              <p class="modal-card-title">Enviar</p>
                              <button class="delete" aria-label="close" onclick="closeModal(); return false"></button>
                            </header>
                            <section class="modal-card-body">
                              
                              
                              <h1>Datos</h1>
                              
                              <h1 id="from">Desde</h1>
                              <h1 id="to">Para</h1>
                              <h1 id="val">Monto</h1>
                            </section>
                            <footer class="modal-card-foot">
                              <button class="button is-success">Continuar</button>
                              <button class="button" onclick="closeModal(); return false">Cancel</button>
                            </footer>
                          </div>
                      </div> -->

                    </form>

                    <div class="column">
                        <div>
      
                        </div>
                      </div>
                    <hr>

                    <% if(SuccessMessage.length > 0) {%>
                      <div id="notification" class="notification is-success">
                        <button onclick="closeNoti()" class="delete"></button>
                        <%= SuccessMessage %>
                      </div>  
                    <% } %>

                    <% if(ErrorMessage.length > 0) {%>
                      <div id="notification" class="notification is-danger">
                        <button onclick="closeNoti()" class="delete"></button>
                        <%= ErrorMessage %>
                      </div>  
                    <% } %>

                </div>

                <div class="column">
                    <div>
    
                    </div>
                  </div>
                  
              </div>

             

              
            </div>

            

          </section>
            

          <script>

             const closeModal=()=>{
                let modal=document.getElementById('modal');
                modal.classList.remove('is-active')
              }
              
              const closeNoti= ()=>{
                let div=document.getElementById('notification');
                div.style.display="none"
              }
              // const button=document.getElementById('ButtonModal');

              // button.addEventListener('submit',function(e){
                  
              //     e.preventDefault();

              //     let from,to,val;

              //       from=document.getElementsByName('from');
              //       to=document.getElementsByName('to');
              //       val=document.getElementsByName('amount');
      
              //       f=document.getElementById('from').innerHTML=from[0].value;
              //       document.getElementById('to').innerText=to[0].value;
              //       document.getElementById('val').innerText=val[0].value;

              //       let modal=document.getElementById('modal');
              //       modal.classList.toggle('is-active');
                  
              // });
             
          </script>
        <!--</div>
       
        </div>-->

    <!--</div>-->
   
    
<% include ../partials/footer %>