
<% include partials/head %>


<section class="hero is-light">
<div class="hero-body">

    <nav class="navbar" role="navigation" aria-label="main navigation">
    
        <div class="navbar-brand">
            <figure>
              <img style="width:50px" src="/images/ethereum-2458552_960_720.png" alt="ethereum-logo">
            </figure>
            <a class="navbar-item" style="color:black;font-weight: bold;font-size:15px" href="/">
              <!--<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
              V-EXCHANGE
            </a>
        
        
        </div>

        <div class="navbar-menu">
          
            <div class="dropdown is-rigth navbar-end" id="profile" onclick="toggleProfile()">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                    <span><%= user.nombre %></span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                  <div class="dropdown-content">

                    <a href="/wallet" class="dropdown-item">
                      Monedero
                    </a>

                    <hr class="dropdown-divider">
                    
                    <a href="#" class="dropdown-item">
                      Perfil
                    </a>
      
                    <hr class="dropdown-divider">

                    <a href="/logout" class="dropdown-item">
                      cerrar sesion
                    </a>
                    
                  </div>
                </div>
            </div>

        </div>
        
      
    </nav>
</div>
</section>

    <div class="column is-half is-offset-one-quarter">
        

        <div>

        </div>
        
        <div class="panel">

        <div class="panel-heading">Bienvenido</div>

        <div class="panel-block">

            <h1>Bienvenido <%= user.nombre %></h1>

        </div>
       
        </div>
    </div>
   
    
<% include partials/footer %>