
<% include partials/head %>


<section class="hero is-dark">

  <div class="hero-body">

      <% include partials/nav %>

  </div>

</section>

<section class="section" style="background:rgb(245,245,245)">

  <div class="container">

    <h1 class="title">Cuenta</h1>
              
    <article class="message is-grey">
        <div class="message-body">
            <p>
              <strong><%= user.direccion %></strong>
            </p>
        Tu direccion es un unica y le permitira a las personas enviarte criptomonedas,
        
        las cuentas son claves protegidas por contraseña que pueden contener tokens basados en Ether y Ethereum. 
        Pueden controlar los contratos, pero no pueden mostrar las transacciones entrantes.

        </div>
    </article>
  
  </div>

</section>
            
   
    
<% include partials/footer %>