



<script>
    //burguer toggable
    const toggleBurger = () => {
      let burgerIcon = document.getElementById('burguer');
      let dropMenu = document.getElementById('teamList');
      burgerIcon.classList.toggle('is-active');
      dropMenu.classList.toggle('is-active');
    };
  </script>
      
</body>
</html>