
<footer class="footer" style="background:rgb(54,54,54);color: white">
  <div class="content has-text-centered">
    <p>
      <strong style="color:white">Desarrollado con 
        <span class="icon has-text-danger">
          <i class="fas fa-heart"></i>
        </span>
      </strong> 
        por <a class="links" href="https://github.com/INAMOS" target="_blank">Edward Hurtado</a>  Copyright © 2018 
    </p>
  </div>
  <div class="content has-text-centered">
    <p>
      <strong style="color:white">Powered</strong> by <a class="links" href="https://www.ethereum.org/" target="_blank">Ethereum</a>
    </p>
  </div>
</footer>

<script>
    //burguer toggable
    const toggleBurger = () => {
      let burgerIcon = document.getElementById('burguer');
      let dropMenu = document.getElementById('teamList');
      burgerIcon.classList.toggle('is-active');
      dropMenu.classList.toggle('is-active');
    };

    //profile toggable
    const toggleProfile = () => {
      let burgerIcon = document.getElementById('profile');
      burgerIcon.classList.toggle('is-active');
      
    };

    const Modal= () =>{
      let modalBox=document.getElementById('modal');
      modalBox.classList.toggle('is-active');
      
    }
  </script>
      
</body>
</html>