<nav class="navbar" role="navigation" aria-label="main navigation">
    
    <div class="navbar-brand">
        <figure>
          <!-- <img style="width: 50px" src="/images/ethereum-2458552_960_720.png" alt="ethereum-logo">-->
          <!-- <img style="width:50px" src="/images/ethereum-white.png" alt="ethereum-logo"> -->
          <img style="width:50px" src="/images/logo.png" alt="ethereum-logo">
        </figure>
        <a class="navbar-item" style="color:white;font-weight: bold;font-size:15px" href="/">
          V-EXCHANGE
        </a>

        <a role="button" class="navbar-burger" onclick="toggleBurger()" id="burguer" aria-label="menu" aria-expanded="true">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div class="navbar-menu" id="teamList">
      
        <div class="navbar-end">
            <a class="navbar-item" href="/home">
                Home                
            </a>
            <a class="navbar-item" href="/send">
                Enviar                
            </a>
            <a class="navbar-item" href="/token">
                Token
            </a>
            <a class="navbar-item" href="/sendToken">
                Enviar token
            </a>
        </div>
          
    </div>

</nav>