<% include ../partials/head %>


<section class="hero is-dark">
<div class="hero-body">
    <nav class="navbar" role="navigation" aria-label="main navigation">
    
        <div class="navbar-brand">
            <figure>
              <img style="width: 50px" src="/images/ethereum-grey.png" alt="ethereum-logo">
            </figure>
            <a class="navbar-item" style="color:white;font-weight: bold;font-size:15px" href="/">
              <!--<img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">-->
              V-WALLET
            </a>

            <a role="button" class="navbar-burger" onclick="toggleBurger()" id="burguer" aria-label="menu" aria-expanded="true">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
            
        </div>
        <div class="navbar-menu" id="teamList">
                <div class="navbar-end">
                        <div class="navbar-item">
                          <div class="buttons">
                            <a href="/login" class="button is-primary">
                              <strong>Ingresar</strong>
                            </a>
                            <a href="/signup" class="button is-light">
                              Registrarse
                            </a>
                          </div>
                        </div>
                </div>
        </div>
    </nav>
</div>
</section>

<section class="section is-medium">

    <div class="column is-half is-offset-one-quarter">

    <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                Registrar
              </p>
            </header>
            <div class="card-content">
              <div class="content">

                    <form class="control" action="/signup" method="POST">
       
                        <div class="field">
                                <label class="label" for="to">Email</label>
                                <p class="control has-icons-left">
                                        <input class="input" name="email" type="email" placeholder="Email" required>
                   
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                
                                </p>
                            </div>
            
                    
                        <div class="field">
                                <label class="label" for="nombre">Nombre</label>
                                <p class="control has-icons-left">
                                        <input name="nombre" class="input" type="text" placeholder="Nombre" required>
                                    <span class="icon is-small is-left">
                                    <i class="fas fa-users"></i>
                                </span>
                                
                                </p>
                            </div>
            
                      
                        
                        <div class="field">
                                <label class="label" for="usuario">Usuario</label>
                                <p class="control has-icons-left">
                                        <input name="usuario" class="input" type="text" placeholder="Usuario" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-user"></i>
                                </span>
                                
                                </p>
                            </div>
            
                        <div class="field">
                                <label class="label" for="password">Password</label>
                                <p class="control has-icons-left">
                                        <input class="input" name="password" type="password" placeholder="Password" minlength="6" required>
                                <span class="icon is-small is-left">
                                    <i class="fas fa-key"></i>
                                </span>
                                
                                </p>
                            </div>
            
                        <div class="field is-grouped">
                            <div class="control">
                                <button class="button is-primary">Registrar</button>
                            </div>  
                        </div>
                        
                    </form>
                
              </div>
            </div>
           
          </div>

          <% if(err.length >0) {%>
            <hr>
            <article class="message is-danger">
                    <div class="message-body">
                    <%= err %>
                    </div>
            </article>

            <% } %>
        </div>

</section>
   
    
<% include ../partials/footer %>